bhp-qaa-factory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "bhp-qaa-factory"
		},
		"newUPCDependentDetail_properties_upc_dependentDetail_pipe_parameters_dependentDetail_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"newUPCDependentDetail_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/eee4d6ad-740a-45fe-b7a5-3953098adad5/resourceGroups/tpa-sandbox-resources/providers/Microsoft.Storage/storageAccounts/tpafiles"
		},
		"newUPCFilesMailedBlob_properties_upc_filesMailed_pipe_parameters_filesMailed_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"newUPCFilesMailedBlob_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/eee4d6ad-740a-45fe-b7a5-3953098adad5/resourceGroups/tpa-sandbox-resources/providers/Microsoft.Storage/storageAccounts/tpafiles"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/upc_dependentDetail_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dependentDetailsFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dependentDetail_flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dependentDetailCSV": {
										"upc_dependent_filename": {
											"value": "@pipeline().parameters.dependentDetail_filename",
											"type": "Expression"
										}
									},
									"dependentDetailSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Send Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Write to Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-21.centralus.logic.azure.com:443/workflows/cb2bd79cad774e6497aa95805448a894/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DaT-rFgk8kinP5LT-9JO2UEProrBMfgJHrEKrrh4jYY",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"status of run\": \"SUCCESS\",\n\"file processed\": \"@{pipeline().parameters.dependentDetail_filename}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send Email_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "dependentDetailsFlow",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Write to Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-21.centralus.logic.azure.com:443/workflows/cb2bd79cad774e6497aa95805448a894/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DaT-rFgk8kinP5LT-9JO2UEProrBMfgJHrEKrrh4jYY",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"status of run\": \"FAIL\",\n\"file processed\": \"@{pipeline().parameters.dependentDetail_filename}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Write to Log",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "dependentDetailsFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-23.centralus.logic.azure.com:443/workflows/5d86c1d3de5b485ba702da46cdd66dcb/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=CnAEcXr392CS6wwLJm3av4rBcw0Y9zERP265PTuwm2w",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"file processed\": \"@{pipeline().parameters.dependentDetail_filename}\",\n\"rows read\": \"@{activity('dependentDetailsFlow').output.runStatus.metrics.dependentDetailSQL.sources.dependentDetailCSV.rowsRead}\",\n\"trigger time\":\"@{convertTimeZone(pipeline().TriggerTime,'UTC','Central Standard Time')}\",\n\"end time\":\"@{convertTimeZone(utcnow(),'UTC','Central Standard Time')}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"dependentDetail_filename": {
						"type": "string",
						"defaultValue": "''"
					}
				},
				"folder": {
					"name": "UPC_Files_Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-15T15:08:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/upc_filesMailed_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Write to Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-21.centralus.logic.azure.com:443/workflows/cb2bd79cad774e6497aa95805448a894/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DaT-rFgk8kinP5LT-9JO2UEProrBMfgJHrEKrrh4jYY",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"status of run\": \"SUCCESS\",\n\"file processed\": \"@{pipeline().parameters.filesMailed_filename}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "filesMailedFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "filesMailed_flow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"filesMailed": {
										"upc_fm_filename": {
											"value": "@pipeline().parameters.filesMailed_filename",
											"type": "Expression"
										}
									},
									"filesMailedSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Send Fail Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Write to Log",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "filesMailedFlow",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-21.centralus.logic.azure.com:443/workflows/cb2bd79cad774e6497aa95805448a894/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DaT-rFgk8kinP5LT-9JO2UEProrBMfgJHrEKrrh4jYY",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"status of run\": \"FAIL\",\n\"file processed\": \"@{pipeline().parameters.filesMailed_filename}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Write to Log",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "filesMailedFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-23.centralus.logic.azure.com:443/workflows/5d86c1d3de5b485ba702da46cdd66dcb/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=CnAEcXr392CS6wwLJm3av4rBcw0Y9zERP265PTuwm2w",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"pipeline name\": \"@{pipeline().Pipeline}\",\n\"file processed\": \"@{pipeline().parameters.filesMailed_filename}\",\n\"rows read\": \"@{activity('filesMailedFlow').output.runStatus.metrics.filesMailedSQL.sources.FilesMailed.rowsRead}\",\n\"trigger time\":\"@{convertTimeZone(pipeline().TriggerTime,'UTC','Central Standard Time')}\",\n\"end time\":\"@{convertTimeZone(utcnow(),'UTC','Central Standard Time')}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"filesMailed_filename": {
						"type": "string",
						"defaultValue": "''"
					}
				},
				"folder": {
					"name": "UPC_Files_Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-15T15:02:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/newUPCDependentDetail')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "upc_dependentDetail_pipe",
							"type": "PipelineReference"
						},
						"parameters": {
							"dependentDetail_filename": "[parameters('newUPCDependentDetail_properties_upc_dependentDetail_pipe_parameters_dependentDetail_filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/upc/blobs/BH_IFP_DependentDetail",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('newUPCDependentDetail_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/upc_dependentDetail_pipe')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/newUPCFilesMailedBlob')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "upc_filesMailed_pipe",
							"type": "PipelineReference"
						},
						"parameters": {
							"filesMailed_filename": "[parameters('newUPCFilesMailedBlob_properties_upc_filesMailed_pipe_parameters_filesMailed_filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/upc/blobs/BH_IFP_FilesMailed",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('newUPCFilesMailedBlob_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/upc_filesMailed_pipe')]"
			]
		}
	]
}